[available=main]
<!-- Карусель -->
<div class="top_slider">
  <div id="slider-wrap">
	<div id="slider">
		<div class="slide"><img src="{THEME}/img/dog.jpg" alt="" width="629" height="260"></div>
		<div class="slide"><img src="{THEME}/img/dog2.jpg" alt="" width="629" height="260"></div>
		<div class="slide"><img src="{THEME}/img/dog3.jpg" alt="" width="629" height="260"></div>
		<div class="slide"><img src="{THEME}/img/dog4.jpg" alt="" width="629" height="260"></div>

	</div>
</div>
</div>
[/available]