<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset=utf-8>
    <title>Simple HTML5 blog</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="http://wikipet.by/templates/pet/css/style.css"  type="text/css" media="all" />
<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script><![endif]-->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic" rel="stylesheet">
  <script src="js/jquery-1.7.2.min.js"></script>
   <script src="js/script.js"></script>
  
</head>
<body>
<div class="wrapper">
<div class="reklama-header"><!--<img src="img/reklama-top.jpg" alt="" />--></div>

<header>


<nav>
<!--<button onclick="alert(document.documentElement.clientWidth)">alert(document.documentElement.clientWidth)</button>-->
<menu id="first"> 
<div class="logo"></div>
<div class="poisk">
<ul class="hr" id="text1">

<li><a href="#" onmouseover="otkr()">Поиск</a></li>
<li><a href="#">Обьявления</a></li>
<li><a href="#">Блог</a></li>
<li><a href="#">Регистрация</a></li>
<li><a href="#">Войти</a></li>
</ul>

                   <div class="enter" id="text2" style="display:none;">
                      <div class="m1">
					   <form>
                    
                              <input type="text" name="seach" class="seach" placeholder="Впишите Ваш Запрос">
                      
                       </form>
					   
					  </div>
                      <div class="m2"><a href="#"><span>Блог</span></a></div>
                      <div class="m3"><a href="#"><span>Регистрация</span></a></div>
                      <div class="m4"><a href="#"><span>Войти</span></a></div>
                   </div>
<div class="social">
<a href="#"><div class="facebook"></div></a>
<a href="#"><div class="odn"></div></a>
<a href="#"><div class="vk"></div></a>
<a href="#"><div class="inst"></div></a>

</div>
</div>

</menu>
	<menu id="second"> 
<ul class="hr2">
<li><a href="#">Энциклопедия</a></li>
<li><a href="#">Каталоги</a></li>
<li><a href="#">Акции и Скидки</a></li>
<li><a href="#">Афиша</a></li>
<li><a href="#">Экспертиза</a></li>
</ul>	
	</menu>
</nav>
</header>
<div class="line"></div>
<div id="content">
<aside>



   
     

<div class="innerpage_add_block_2">Реклама</div>
<div class="innerpage_add_block_3">Реклама</div>
     
  
</aside>
<div id="main_content">

<div class="derevo">
<ul id="breadcrumbs-one">
 <li><a href="#">Главная / </a></li>
 <li><a href="#">Это все они / </a></li>
 <li><a href="#">Герои нашего времени </a></li>
 
 </ul>
</div>
<form>
   <input class="inside_article_search" type="search" name="q" placeholder="Введите запрос"> 
   <input class="inside_article_search_submit" type="submit" value="Найти">
  </form>

   



<h1 class="one_column_article_header">Герои нашего времени</h1>

<!--====================
СТАТЬИ В ОДНУ КОЛОНКУ
======================-->

  <div class="one_column_article">
	 <div class="one_column_article_img">
		 <div class="one_column_article_title">
			 <span class="one_column_article_title_row1">Собаки-спасатели</span>
			 <span class="one_column_article_title_row2">особенности воспитания</span>
		 </div>
     </div>
     <div class="one_column_article_text">
	     Этих потомков тибетских собак выводили для охраны стад и отар в Средней Азии, 
		 также собаки помогали в охоте на кабана и барса. Благодаря этому среднеазиатские овчарки отлично 
		 переносят суровые климатические условия, нехватку воды и не нуждаются в нехватку вод нехватку вод комфорте.
         Выводилась порода спонтанно: люди просто отбирали особей с необходимыми им качествами. Важно 
     </div>
  </div>
  <div class="clear"></div>
<!--====================
СТАТЬИ В ДВЕ КОЛОНКИ
======================-->
<div class="two_column_article">
	 <div class="first_column_article">
		 <div class="first_column_article_img">
			 <div class="first_column_article_title">
				 <span class="first_column_article_title_row1">Собаки-спасатели</span>
				 <span class="first_column_article_title_row2">особенности воспитания</span>
			 </div>
	     </div>
		 <div class="first_column_article_text">
			 Этих потомков тибетских собак выводили для охраны стад и отар в Средней Азии, 
			 также собаки помогали в охоте на кабана и барса. Благодаря этому среднеазиатские овчарки отлично 
			 переносят 
         </div>
	 </div>
	 
	 <div class="second_column_article">
		 <div class="second_column_article_img">
			 <div class="second_column_article_title">
				 <span class="second_column_article_title_row1">Собаки-спасатели</span>
				 <span class="second_column_article_title_row2">особенности воспитания</span>
			 </div>
	     </div>
		 <div class="second_column_article_text">
			 Этих потомков тибетских собак выводили для охраны стад и отар в Средней Азии, 
			 также собаки помогали в охоте на кабана и барса. Благодаря этому среднеазиатские овчарки отлично 
			 переносят 
         </div>
	 </div>
</div>
<div class="clear"></div>
<!--====================
СТАТЬИ В ОДНУ КОЛОНКУ
======================-->
  <div class="one_column_article">
	 <div class="one_column_article_img">
		 <div class="one_column_article_title">
		 <span class="one_column_article_title_row1">Собаки-спасатели</span>
		<span class="one_column_article_title_row2">особенности воспитания</span>
		 
		 </div>
    </div>
     <div class="one_column_article_text">
	     Этих потомков тибетских собак выводили для охраны стад и отар в Средней Азии, 
		 также собаки помогали в охоте на кабана и барса. Благодаря этому среднеазиатские овчарки отлично 
		 переносят суровые климатические условия, нехватку воды и не нуждаются в нехватку вод нехватку вод комфорте.
         Выводилась порода спонтанно: люди просто отбирали особей с необходимыми им качествами. Важно 
     </div>
  </div>
  
    <div class="clear"></div>
<!--====================
СТАТЬИ В ДВЕ КОЛОНКИ
======================-->
<div class="two_column_article">
	 <div class="first_column_article">
		 <div class="first_column_article_img">
			 <div class="first_column_article_title">
				 <span class="first_column_article_title_row1">Собаки-спасатели</span>
				 <span class="first_column_article_title_row2">особенности воспитания</span>
			 </div>
	     </div>
		 <div class="first_column_article_text">
			 Этих потомков тибетских собак выводили для охраны стад и отар в Средней Азии, 
			 также собаки помогали в охоте на кабана и барса. Благодаря этому среднеазиатские овчарки отлично 
			 переносят 
         </div>
	 </div>
	 
	 <div class="second_column_article">
		 <div class="second_column_article_img">
			 <div class="second_column_article_title">
				 <span class="second_column_article_title_row1">Собаки-спасатели</span>
				 <span class="second_column_article_title_row2">особенности воспитания</span>
			 </div>
	     </div>
		 <div class="second_column_article_text">
			 Этих потомков тибетских собак выводили для охраны стад и отар в Средней Азии, 
			 также собаки помогали в охоте на кабана и барса. Благодаря этому среднеазиатские овчарки отлично 
			 переносят 
         </div>
	 </div>
</div>
<div class="clear"></div>

<!--====================
СТАТЬИ В ДВЕ КОЛОНКИ
======================-->
<div class="two_column_article">
	 <div class="first_column_article">
		 <div class="first_column_article_img">
			 <div class="first_column_article_title">
				 <span class="first_column_article_title_row1">Собаки-спасатели</span>
				 <span class="first_column_article_title_row2">особенности воспитания</span>
			 </div>
	     </div>
		 <div class="first_column_article_text">
			 Этих потомков тибетских собак выводили для охраны стад и отар в Средней Азии, 
			 также собаки помогали в охоте на кабана и барса. Благодаря этому среднеазиатские овчарки отлично 
			 переносят 
         </div>
	 </div>
	 
	 <div class="second_column_article">
		 <div class="second_column_article_img">
			 <div class="second_column_article_title">
				 <span class="second_column_article_title_row1">Собаки-спасатели</span>
				 <span class="second_column_article_title_row2">особенности воспитания</span>
			 </div>
	     </div>
		 <div class="second_column_article_text">
			 Этих потомков тибетских собак выводили для охраны стад и отар в Средней Азии, 
			 также собаки помогали в охоте на кабана и барса. Благодаря этому среднеазиатские овчарки отлично 
			 переносят 
         </div>
	 </div>
</div>
<div class="clear"></div>

   



      
</div><!--main_content-->




</div> <!--content-->
<div class="clear"></div>
<footer>
<div class="footer">
 <menu id="third">
<ul class="hr4">
<li><a href="#">О нас</a></li>
<li><a href="#">Рекламодателям</a></li>
<li><a href="#">Договор Публичной оферты</a></li>
<li><a href="#">Предложить материал</a></li>
<li><a href="#">Наши партнёры</a></li>
</ul>	
 </menu>
 <div class="subscribe">
    <p class="subscribe_label">Подписка на рассылку</p>
	
					   <form>
                    
                              <input type="text" name="podpiska" id="subscribe_field" placeholder="Введите Ваш Email">
							  <input type="button" name="submit" id="subscribe_button" value="Подписаться">
                      
                       </form>
					   

 </div>
  <div class="copy"><p class="copi">PetNet 2016</p></div>
 </div>
</footer>
</div><!-- wrapper -->
</body>
</html>