.collage_header{
	
	margin: 30px 0 20px 0;
	color: #90331b;
	font-family: BebasNeueRegular;
	font-size: 24px;
	letter-spacing: 0;
    text-align: center;
      
}

.collage_category{
	height: 25px;
	
	padding-top: 10px;
}

.collage_category span {
	background: #9d331b;
	height: 20px;
	display: block;
	float: right;
	font-size: 18px;
	color: #fff;
	font-family: BebasNeueRegular;
	padding: 2px 4px 6px 4px;
	text-align: center;
}


.collage_article {
	width: 466px;
	float: left;
	margin-right: 6px;
	margin-bottom: 8px;
}

.collage_article:hover {
	opacity:0.9;
}

.collage_img {
	width: 466px;
	background: #9d331b;
	height: 263px;
	background-position:center;
}

.collage_article_title {
	background: url(../img/two_column_article_header_bg.png) no-repeat;
	width: 466px;
	margin-top: 141px;
	height: 87px;
	background-position: bottom;
	
	
}


.collage_title_row1 {
	font-family: BebasNeueRegular;
	height: 36px;
	font-size: 36px;
	line-height:36px;
	letter-spacing: 0;
	display: block;
	padding-top: 8px;
	padding-left:6px;
	overflow: hidden;
	
	color: #fff;
	word-wrap:normal;
}

.collage_title_row2 {
	opacity: 0.8;
	color: #fff;
	font-family: BebasNeueRegular;
	height: 26px;
	font-size: 26px;
	line-height:26px;
	letter-spacing: 0;
	display: block;
	padding-top: 4px;
	padding-left: 6px;
	word-wrap:normal;
	overflow: hidden;
}

/*- втора¤ картинка -*/

.collage-box:nth-child(6) > div:nth-child(1) {
	width:234px;
}

.collage-box:nth-child(6) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) {
	width:230px;
	
	
	
}

/*- треть¤ картинка -*/
.collage-box:nth-child(7) > div:nth-child(1) {
	width:234px;
}

.collage-box:nth-child(7) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) {
	width:230px;
	background: url(../img/white-title2.png) no-repeat;
	
	
}



/*- четверта¤ картинка -*/
.collage-box:nth-child(8) > div:nth-child(1) {
	width:234px;
}

.collage-box:nth-child(8) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) {
	width:230px;
	background: url(../img/white-title2.png) no-repeat;
	
	
}

/*- шеста¤ картинка -*/
.collage-box:nth-child(10) > div:nth-child(1) {
	width:234px;
}

.collage-box:nth-child(10) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) {
	width:230px;
	background: url(../img/white-title2.png) no-repeat;
	
	
}


.collage-box:nth-child(12) > div:nth-child(1) {
    width: 234px;
}

.collage-box:nth-child(12) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) {
	width:230px;
	background: url(../img/white-title2.png) no-repeat;
	
	
}

/*==================
 ќЋЋј∆ Ќј √Ћј¬Ќќ…
=================== -*/
/*- перва¤, втора¤, треть¤ картинки -*/




.mainpage_collage_category{
	height: 25px;
	padding-top: 15px;
}

.mainpage_collage_category span {
	background: #9d331b;
	display: block;
	float: right;
	font-size: 20px;
	color: #fff;
	font-family: BebasNeueRegular;
	padding: 8px 10px;
	text-align: center;
}


.mainpage_collage_article {
	width: 466px;
	height: 263px;
	float: left;
	margin-right: 6px;
	margin-bottom: 8px;
	
}

.mainpage_collage_article:hover {
	opacity:0.9;
}

.mainpage_collage_img {
	width: 466px;
	background: #9d331b;
	height: 263px;
	background-position:center;
}

.mainpage_collage_article_title {
	background: url(../img/two_column_article_header_bg.png) no-repeat;
	width: 466px;
	margin-top: 126px;
	height: 97px;
	background-position: top;
	
}


.mainpage_collage_title_row1 {
	font-family: BebasNeueRegular;
	height: 36px;
	font-size: 36px;
	line-height:36px;
	letter-spacing: 0;
	display: block;
	padding-top: 8px;
	padding-left:6px;
	overflow: hidden;
	
	color: #fff;
	word-wrap:normal;
}

.mainpage_collage_title_row2 {
	opacity: 0.8;
	color: #fff;
	font-family: BebasNeueRegular;
	height: 26px;
	font-size: 26px;
	line-height:26px;
	letter-spacing: 0;
	display: block;
	padding-top: 4px;
	padding-left: 6px;
	word-wrap:normal;
	overflow: hidden;
}



.mainpage_collage_box:nth-child(2) > div:nth-child(1) {
	width:234px;
}


.mainpage_collage_box:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) {
	width:230px;
	background: url(../img/white-title2.png) no-repeat;
	
	
}

.mainpage_collage_box:nth-child(3) > div:nth-child(1) {
	width:234px;
}


.mainpage_collage_box:nth-child(3) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) {
	width:230px;
	background: url(../img/white-title2.png) no-repeat;
	
	
}


/*- четверта¤, п¤та¤ картинки -*/



.mainpage_collage_block2 {
	width:234px;
	float:left;
	margin-right:6px;
	
}

.mainpage_collage_block2 .mainpage_collage_article {
	width:234px;
	
}

.mainpage_collage_block2 .mainpage_collage_article_title {
	width:234px;
	
}

.mainpage_collage_block3 {
	
	float:left;
	width:712px;
}

.mainpage_collage_block3 .mainpage_collage_article_title  {
	margin-top:397px;
}

.mainpage_collage_block3 > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) {
	height:534px;
}

/*=====================
ЁЌ÷» ќѕ≈ƒ»я ”–ќ¬≈Ќ№ 1
=====================*/
.enciclopedy_row {
	 width:1200px;
     height:342px;
	 margin: 35px auto;
}

.enciclopedy_col {
	 width:300px;
	 height:340px;
	 float:left;
}

.enciclopedy_col:hover {
	opacity:0.8;
}




.enciclopedy_img {
	 width:300px;
	 height:242px;
	 background:url(../img/enciclopedy_01.png) top center no-repeat;
	 float:left;
}


.enciclopedy_img2 {
	 width:238px;
	 height:242px;
	 background:url(../img/enciclopedy_03.png) top center no-repeat;
	 float:left;
	 margin-bottom:10px;
}

#enciclopedy_sprite_1 {
	 background-position: -30px 0;
}
#enciclopedy_sprite_2 {
	 background-position: -372px 0;
}
#enciclopedy_sprite_3 {
	 background-position: -683px 0;
}
#enciclopedy_sprite_4 {
	 background-position: -1029px 0;
}
#enciclopedy_sprite_5 {
	 background-position: -24px 0;
}
#enciclopedy_sprite_6 {
	 background-position: -372px 0;
}
#enciclopedy_sprite_7 {
	 background-position: -674px 0;
}
#enciclopedy_sprite_8 {
	 background-position: -1014px 0;
}

/*=====================
ЁЌ÷» Ћќѕ≈ƒ»я ”–ќ¬≈Ќ№ 1
=====================*/
.enciclopedy_title{
	 text-align: center;
	 width: 238px;
	 font-size: 20px;
	 font-family: OpenSans;
	 text-transform: capitalize;
	 color:#6d6d6d;
}

.enciclopedy_count {
     text-align: center;
	 width: 238px;
	 font-size: 16px;
	 font-family: OpenSans;
	 text-transform: capitalize;
	 color:#919191;
	 margin-top:10px;
}

.enciclopedy_title a {
	color:#6d6d6d;
	
} 
.enciclopedy_count a {
	 color:#919191;
}

.reklama-footer {
	 width: 1200px;
	 height: 105px;
	 background-color: #d3d2d2;
	 opacity: 0.5;
	 margin: 0 auto;
	 background: url(../img/reklama-top.jpg) top center no-repeat;
}

/*=====================
ЁЌ÷» Ћќѕ≈ƒ»я ”–ќ¬≈Ќ№ 2
=====================*/
.enc_top_slider {
	width: 952px;
	height: 412px;
}

.enc_top_slider #slider-wrap {
	width: 952px;
}

.enc_top_slider  #slider {
	width: 952px;
	height: 412px;
	overflow: hidden;
	position: relative;
}

.enc_table table {
    width: 471px; /* Ўирина таблицы */

	margin-bottom:45px;
    border-collapse: collapse; /* ”бираем двойные линии между ¤чейками */
	float:left;
   }
   
   .enc_table tr {    border: 1px solid #e1e1e1; /* ѕараметры рамки */
   }
.enc_table th{
    padding: 10px; /* ѕол¤ вокруг содержимого таблицы */

	text-align:left;
	color:#4c4c4c;
	font-family:OpenSans;
   }

.enc-text-naidite {
	color: #3aa2a5;
	font-family: BebasNeueRegular;
	font-size: 40px;

	letter-spacing: 0;
	text-align: left;
	padding: 30px 0 0 0px;
}	

.enc-sliderfooter {
	
	float: left;
	width: 952px;
	height: 427px;
}

.enc_gorizontal_menu10 {
	 width: 951px;
	 height: 59px;
	 padding-top: 26px;
}

.enc_gorizontal_menu10 ul{
	 margin-right: 6px;
}

.enc_gorizontal_menu10 li{
	 float:left;
	 width:450px;
}	

.enc_gorizontal_menu10 a {
	 font-family: BebasNeueRegular;
	 font-size: 40px;
	 color: #9d331b;
	 text-transform: uppercase;
     text-decoration: none;
	
}

.enc_gorizontal_menu10 ul li:first-child {
	 margin-right: 35px;
}


.positiv_article_title {
	width: 444px;
	padding: 10px;
	border-left: 1px solid #e1e1e1;
	border-right: 1px solid #e1e1e1;
}

.positiv_article_title_row1 {
	font-family: BebasNeueRegular;
	font-size: 36px;
	letter-spacing: 0;
	display: block;
	padding-top: 8px;
	overflow: hidden;
	height: 36px;
	line-height: 36px;
	word-wrap: normal;
}


.positiv_article_title_row1 a {
	color: #4c4c4c;
}

.positiv_article_text {
	font-size: 18px;
	line-height: 30px;
	font-family: OpenSans;
	color: #5e5e5e;
	padding: 0 10px 10px 10px;
	text-align: justify;
	height: 117px;
	overflow: hidden;
	border-right: 1px solid #e1e1e1;
	border-left: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
}

.positiv_column_article {
	width: 466px;
	float: left;
	margin-right: 10px;
	
}

.positiv_column_article .box {
	margin-bottom:0;
}


.vertical_menu10 li a {
	color: #4c4c4c;
	text-decoration: none;
	display: inline-block;
	border: none;
	font-size: 20px;
	font-family: OpenSans;
	text-transform: uppercase;
	line-height: 29px;
	padding-top: 3px;
	background:none;
}

.collage-box:nth-child(2) > div:nth-child(1) {
width:263px;}
.collage-box:nth-child(3) > div:nth-child(1){
width:263px;}

.collage-box:nth-child(4) > div:nth-child(1){
width:263px;}

.obsuzdenie li {
	font-family: BebasNeueRegular;
	font-size: 40px;
	color: #9d331b;
	text-transform: uppercase;
	text-decoration: none;
	margin-top: 30px;
	display: block;
	float: left;
}

.obsuzdenie > ul:nth-child(1) > li:nth-child(1) {
	padding-top: 18px;
}

#add_comment_button {
	margin-left:15px !important;
}

/*====================================
стили для категории и страницы каталога
=====================================*/

   
   .shop-menu {
	margin: 38px 0 15px 3px;
	min-height: 243px;
	padding: 10px 0 50px 0;
	position: relative;
	border: 1px solid #e1e1e1;
	width: 228px;
	background: #fff;
}
   
   .shop-menu-header {
	margin: 8px 10px 18px 10px;
}
   .shop-menu-header span {
	color: #fff;
	font-family: BebasNeueRegular;
	font-size: 29px;
	padding: 3px 8px;
	background: #2f767b;
}

.shop-menu-subtitle {
text-transform:uppercase;
color:#000;
font-family:OpenSans;
font-size:14px;
padding:10px;
}

.shop-menu li {
text-transform:capitalize;
color:#7d7d7d;
font-family:OpenSans;
font-size:14px;
padding:10px;
}

.shop-select {
margin:10px;
border:1px solid #e1e1e1;
color:#7d7d7d;
padding:5px;
font-size:14px;
font-weight:bold;
}


/*==================================
стили для страницы правовые вопросы
==================================*/

#pravopage-menu{
	 width: 100%;
	 font-family: BebasNeueRegular;
	 font-size: 24px;
	 color: #6d6d6d;
	 text-transform: uppercase;
}

#pravopage-menu ul{
	 margin-top: 25px;
	 display: block;
	
}

#pravopage-menu li {
	 display: inline-block;
	 margin-bottom:20px;
	 border:1px solid #e1e1e1;
	 margin-right:22px;
}

#pravopage-menu ul li a {
	 font-family: BebasNeueRegular;
	 font-size: 30px;
	 color: #6d6d6d;
	 text-transform: uppercase;
	 text-decoration: none;
	 display:inline-block;
	 padding:15px 22px;
}


#pravopage-menu ul li a:hover {
	 color:#fff;
	 background:#9d331b;
	
}

#pravopage-menu ul li  a:active {
	 color:#fff;
	 background:#9d331b;
	
}

.pravopage-vertmenu {
     margin: 10px 0 0 3px;
     min-height: 500px;
     padding: 10px 0 0;
     position: relative;
     border: 1px solid #e1e1e1;
     background: #fff;
     width: 228px;
}

.pravopage-vertmenu-item {
     margin: 17px 0 0 15px;
     position: relative;
     width: 213px;
     height: 98px;
     overflow: hidden;
}

.pravopage-vertmenu-item a {
	text-decoration:none;
}

.pravopage-vertmenu-title {
	 font-size: 17px;
	 line-height:20px;
     color: #000;
     font-family: OpenSans;
     white-space: normal;
	 padding-bottom:5px;
	 text-transform:uppercase;
}

.pravopage-vertmenu-text {
	 font-size: 14px;
	 line-height: 18px;
	 font-family: OpenSans;
	 color: #7d7d7d;
	 padding-right: 2px;
}

.pravopage-vertmenu-arrow {
     background: url(../img/menu_slider_img.png) center no-repeat;
     height: 27px;
     position: relative;
     margin-top: 10px;
}

#ask_me {
	 margin:5px 10px 0 14px;
}

#ask_me input {
	 height: 40px;
	 border: 1px solid #e1e1e1;
	 font-family: BebasNeueRegular;
	 font-size: 20px;
	 color: #2f767b;
	 padding-left: 4px;
	 width: 195px;
}

/*-===================
Pet Art главная 
========================*/
#handmade-box1 {
	width:953px;
	height:382px;
	background: url(../img/hndmd3.jpg) no-repeat;
	margin-bottom:6px;
	
}


#handmade-box2{
	margin-right:4px;
	width:474px;
	height:469px;
	float:left;
	background: url(../img/hndmd2.jpg) no-repeat;
	overflow:hidden;
	
}

#handmade-box3{
	 width:474px;
	 height:469px;
	 float:left;
	 background: url(../img/hndmd1.jpg) no-repeat;
	 overflow:hidden;
	
}

.hndmd-header{
	 text-transform: uppercase;
	 font-family: BebasNeueRegular;
	 font-size: 40px;
	 color: #fff;
	 padding-top: 53px;
	 padding-left: 29px;
}

.hndmd-ul {
	 margin-left: 47px;
	 margin-top: 35px;
}

.hndmd-ul li {
	 background: url(../img/list_style_2.png) no-repeat;
	 background-position: left center;
	 color: #fff;
	 font-size: 20px;
	 font-family: OpenSans;
	 padding-left: 31px;
	 margin-bottom: 28px;
}

.hndmd-ul li a {
	color:#fff;
	font-size:20px;
	font-family:OpenSans;
}

.hndmd-aside-menu-header {
	margin: 8px 10px 18px 10px;
}

.hndmd-aside-menu-header span {
	color: #fff;
	font-family: BebasNeueRegular;
	font-size: 29px;
	padding: 3px 8px;
	background: #4d757a;
}

.hndmd-aside-gallery {
	margin: 0 0 0 3px;
	
	padding: 10px 0 0;
	position: relative;
	border: 1px solid #e1e1e1;
	
	width: 228px;
	
	 background-position: 12px 68px;
}

.hndmd-aside-gallery ul {
	margin-left: 13px;
	margin-top: 7px;
	margin-bottom: 14px;
}
.hndmd-aside-gallery li {
	background: url(../img/hndmd-aside2.jpg) no-repeat;
	width:202px;
	height:102px;
	margin-bottom:5px;
}

.hndmd-aside-gallery-header {
	margin: 5px 10px 16px 10px;
}

.hndmd-aside-gallery-header span {
	color: #fff;
	font-family: BebasNeueRegular;
	font-size: 29px;
	padding: 2px 8px 3px 8px;
	background-color: #883622;
}


.hndmd-h1  {
	text-transform: uppercase;
	font-family: BebasNeueRegular;
	font-size: 40px;
    margin-top: 28px;
	margin-bottom: 28px;
    color: #3aa2a5;
}

/*-======================
Pet Art / мастер-класс 
========================*/
.master-class-box {
	 width:474px;
	 height:469px;
	 float:left;
	 margin-bottom:6px;
	 margin-left:4px;
}

.master-class-title{
	 text-transform: uppercase;
	 font-family: BebasNeueRegular;
	 font-size: 40px;
     color: #fff;
	 padding-top: 40px;
	 padding-left: 28px;
}

.master-class-title2 {
	 text-transform: uppercase;
	 font-family: BebasNeueRegular;
	 font-size: 40px;
	 color: #fff;
	 padding-top: 23px;
	 padding-right: 5px;
	 padding-left: 28px;
	 height: 40px;
	 overflow: hidden;
	 word-wrap: normal;
}

.master-class-subtitle {
	 float: right;
	 padding-top: 292px;
	 padding-right: 31px;
	 font-size: 30px;
	 color: #fff;
}

#master-cl-aside-menu-header {
	 margin: 8px 10px 18px 10px;
}

#master-cl-aside-menu-header span{
	 font-family: BebasNeueRegular;
	 font-size: 29px;
	 color: #fff;
	 padding: 3px 8px;
     background: #883622;
}
	
.master-class-box:nth-child(1) {
	 margin-left:0;
}
	
.master-class-box:nth-child(3) {
	 margin-left:0;
}


/*-======================
Pet Art / hand-made
========================*/
 .fullstory-hndmd-menu {
     width:947px;
     height:75px;
}

.fullstory-hndmd-menu ul {
	 height: 75px;
	 width: 978px;
	 padding-left: 5px;
}

.fullstory-hndmd-menu li {
	 display: inline-block;
     padding-right: 40px;
}

.fullstory-hndmd-menu li:last-child {
     padding-right:5px;
}

.fullstory-hndmd-menu li a:hover {
	 color:#9d331b;
	 border-bottom:2px solid #9d331b;
}

.fullstory-hndmd-menu li a:active {
	 color:#9d331b;
	 border-bottom:2px solid #9d331b;
}

.fullstory-hndmd-menu li a {
	 color:#000;
	 text-transform: uppercase;
	 font-family: BebasNeueRegular;
	 font-size: 25px;
	 text-decoration:none;
	 height: 75px;
}

#fullstory-hndmd-aside-menu{
	 margin: 34px 0 15px 0;
	 padding: 10px 0 0;
	 position: relative;
	 border: 1px solid #e1e1e1;
	 width: 231px;
	 background: #fff;
}
#fullstory-hndmd-aside-menu a:hover {
	text-decoration:none;
}

#fullstory-hndmd-aside-menu-header {
	 margin: 8px 10px 18px 10px;
}

#fullstory-hndmd-aside-menu-header span {
	 color: #fff;
	 font-family: BebasNeueRegular;
	 font-size: 29px;
	 padding: 3px 8px;
	 background: #883622;
}

#fullstory-hndmd-aside-menu ul {
	 list-style-type: none;
	 margin: 0;
	 padding: 10px 0 0 0;
}

#fullstory-hndmd-aside-menu li {
	 background: url(../img/list_style_3.png);
	 background-repeat: no-repeat;
	 background-position:16px center;
	 margin-left: 2px;
	 margin-bottom: 31px;
}

#fullstory-hndmd-aside-menu li a {
	 color: #4c4c4c;
	 text-decoration: none;
	 display: block;
	 border: none;
	 font-size: 20px;
	 font-family: OpenSans;
	 text-transform: uppercase;
	 line-height: 29px;
	 padding-left: 42px;
}

.master-class-banner {
	 width: 233px;
	 height: 490px;
	 overflow: hidden;
     background: url(../img/hndmd1.jpg) no-repeat;
	 background-position: center;
	 background-size: cover;
}

.master-class-banner h2 {
	 color:#fff;
	 font-family: BebasNeueRegular;
	 font-size: 30px;
	 padding-top:228px;
     text-align:center;
	 opacity:0.9;
}

.master-class-banner a:hover {
	text-decoration:none;
}
#fullstory-hndmd h1 {
	font-size: 60px;
	text-transform: uppercase;
	font-family: BebasNeueRegular;
	color: #9d331b;
	line-height: 62px;
}

#fullstory-hndmd  h2 {
	text-transform: uppercase;
	font-family: BebasNeueRegular;
	font-size: 36px;
	color: #000;
	padding-top: 13px;
	padding-bottom: 5px;
	margin-left: 2px;
}

#fullstory-hndmd  i {
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
	line-height: 36px;
	font-size: 23px;
	margin-left: 3px;
	word-spacing: 3px;
	color: #000;
}

#fullstory-hndmd .time_posting {
	font-family: OpenSans;
	color: #7c7c7c;
	font-size: 18px;
	padding-bottom: 19px;
	padding-top: 18px;
}

#fullstory-hndmd .time_posting a {
	color: #7c7c7c;
}

#fullstory-hndmd .author {
	font-size: 19px;
	font-family: OpenSans;
	color: #7c7c7c;
	margin-bottom: 25px;
}

#fullstory-hndmd .author a {
	
	color: #7c7c7c;

}

#fullstory-hndmd .author span {
	font-weight: bold;
	font-size: 19px;
	font-family: OpenSans;
	color: #7c7c7c;
	text-transform: capitalize;
}

#slider-header h1 {
	text-transform: uppercase;
	font-family: BebasNeueRegular;
	font-size: 40px;
    margin-top: 28px;
	margin-bottom: 28px;
    color: #3aa2a5;
}


/*-======================
Позитив / Забавные видео
========================*/
	
.pozitiv-video-time {
	float: right;
	color: #fff;
	margin-top: 12px;
	margin-right: 9px;
	font-family: BebasNeueRegular;
	font-size: 25px;
	padding: 4px 0px 0px 0px;
	opacity: 0.7;
	width: 60px;
	height: 26px;
	text-align: center;
}

.pozitiv-video-all .grid_row_1 {
    margin: 0;
    width: 471px;
    float: left;
	margin-bottom:7px;
	margin-right:5px;
	position:relative;
}
.pozitiv-video-all .grid_img_1 {
    width: 471px;
}

.pozitiv-video-all span {
	display: block;
	width: 469px;
	font-family: BebasNeueRegular;
	font-size: 36px;
	color: #fff;
	position: absolute;
	bottom: 28px;
	left: 30px;
	opacity: 0.8;
}

.pozitiv-video .grid_row_1 {
    margin: 0;
    width: 471px;
    float: left;
	margin-bottom:6px;
position:relative;
}



.pozitiv-video:nth-child(2) > div:nth-child(1) {
	margin-right:6px;
    
}

.pozitiv-video:nth-child(4) > div:nth-child(1) {
	margin-right:6px;
   
}

.pozitiv-video span {
	display: block;
	width: 469px;
	font-family: BebasNeueRegular;
	font-size: 36px;
	color: #fff;
	position: absolute;
	bottom: 28px;
	left: 30px;
	opacity: 0.8;
}

.posmotret-vse{
   width: 952px; 
    height: 114px;
}

.posmotret{
   width: 263px; 
    height: 67px;
    color: #883622;
    border: 1px solid #883622;
    margin:0 auto;
    margin-top: 23px;
      text-align: center;
    font-family: BebasNeueRegular;
    font-size: 30px;
    line-height: 72px;
}

.pozitiv-istorii .grid_row_1 {
  height: 383px;
    width: 472px;
    float: left;
}


.vertical_menu10 li {
    margin-bottom: 34px;
    margin-left: 20px;
}



.fullstory {
     width:952px;
}

/*================
новая главная
================*/
 
ul.top-slider-menu {
	padding-top: 33px;
	padding-left: 5px;
	padding-bottom: 36px;
}
 .top-slider-menu li {
	display: inline-block;
	margin-right: 100px;
}
 
 .top-slider-menu li a {
	 color:#4d4d4d;
	 text-decoration:none;
	  font-family: OpenSans;
	
	font-size:20px;
 }
 
.top-slider-menu li:last-child {
	width: 200px;
	white-space: nowrap;
	overflow: hidden;
	margin-right: 0;
	margin-left: -7px;
}


#viberi-pitomca {
	padding-top: 45px;
}

#positiv{
	padding-top: 58px;
}
h1.blue{
	text-transform: uppercase;
	font-family: BebasNeueRegular;
	font-size: 50px;
	color: #3aa2a5;
}

h1.red {
	text-transform: uppercase;
	font-family: BebasNeueRegular;
	font-size: 50px;
	color: #9d331b;
	margin-bottom: 16px;
}

h4.description {
	color: #8d8d8d8d;
	font-size: 18px;
	font-family: OpenSans;
	padding-top: 6px;
	padding-bottom: 21px;
}

#viberi-pitomca .line, #positiv .line, #zdorovie-i-pitanie .line, #govoriyat-specilisti .line {
	height: 1px;
	width: 79.5%;
	margin: 0 auto;
	background: url(../img/line.jpg) bottom center no-repeat;
	float: left;
}


ul.main-page-block-menu {
	padding-top: 29px;
	padding-bottom: 32px;
}
ul.main-page-block-menu2 {
	padding-top: 29px;
	padding-bottom: 32px;
}

.main-page-block-menu li {
    display: inline-block;
    margin-right: 25px;
}
.main-page-block-menu2 li {
    display: inline-block;
   margin-right: 41px;
}
.main-page-block-menu li a {
	color: #2d2d2d;
	text-decoration: none;
	font-family: OpenSans;
	font-size: 18px;
}

.main-page-block-menu2 li a {
	color: #2d2d2d;
	text-decoration: none;
	font-family: OpenSans;
	font-size: 18px;
}


 
.top-slider-menu li:last-child {
	white-space: nowrap;
	overflow: hidden;
	margin-right: 0;
	margin-left: -7px;
}

.main-page-box {
	width: 297px;
	float: left;
	margin-right: 20px;
	margin-bottom: 43px;
}
.main-page-box-title h2 {
    text-transform: uppercase;
    font-family: BebasNeueRegular;
    font-size: 24px;
    color: #2d2d2d;
    line-height: 26px;
    letter-spacing: 1px;
    height: 50px;
    overflow: hidden;
}
.main-page-box-text {
	color: #8f8f8f;
	font-size: 17px;
	font-family: OpenSans;
	padding-top: 3px;
	line-height: 20px;
    height: 23px;
}

.main-page-box-img{
	width: 305px;
	height: 205px;
	overflow: hidden;
}

#zdorovie-i-pitanie {
	margin-top: 59px;
}

#zdorovie-i-pitanie .line {
	float: left;
	width: 79.5%;
	margin-top: 9px;
}

#menu-all {
	background: url(../img/menu-all.jpg) left no-repeat;
	width: 32px;
	height: 22px;
	display: inline-block;
}


ul.hr2 {
    margin-top: 25px;
    display: block;
    height: 76px;
	letter-spacing: 1px;
}
 ul.hr2 li {
    display: inline;
    margin-left: 0px;
	letter-spacing: 1px;
}
 ul.hr2 li+li {
    margin-left: 0px;
}
 ul.hr2 li+li+li {
    margin-left: 44px;
}
 ul.hr2 li+li+li+li {
    margin-left: 54px;
}
 ul.hr2 li+li+li+li+li {
    margin-left: 53px;
}
 ul.hr2 li+li+li+li+li +li{
    margin-left: 44px;
}
 ul.hr2 li+li+li+li+li +li+li{
    margin-left: 54px;
}
 .hr2 a {
    font-family: BebasNeueRegular;
    font-size: 24px;
    color: #6d6d6d;
    text-transform: uppercase;
    text-decoration: none;
}

.hr2 a:hover {
	 color: #c72929;
	     font-family: BebasNeueRegular;
    font-size: 24px;

    text-transform: uppercase;
    text-decoration: none;
}

.empty {
	
	height: 652px;
	width: 955px;
}
.col-1 {
	width: 629px;
	height: 429px;
	margin-right: 21px;
	float: left;
	margin-bottom: 16px;
	background: url(../img/aktualnoe.jpg) center no-repeat;
	background-size: cover;
}

.col-2 {width:303px;
	height:454px;
	
	
	float:left;
	}

	.col-2-1 {
		
	float:left;
	width:305px;
	height:205px;
	margin-bottom:18px;
	background: url(../img/aktualnoe.jpg) center no-repeat;
	background-size: cover;
	
	}
	.col-3-1 {
		
	float:left;
	width:304px;
	height:205px;
	margin-bottom:18px;
	margin-right:21px;
	background: url(../img/aktualnoe.jpg) center no-repeat;
	background-size: cover;
	}
	
	.col-3-1:last-child  {
	
	}
	
	
	.col-category {
	height: 25px;
	padding-top: 11px;
}
.col-category span {
	background: #9d331b;
	display: block;
	float: right;
	font-size: 14px;
	color: #fff;
	font-family: OpenSans;
	font-weight: 700;
	padding: 8px 9px;
	text-align: center;
	text-transform: uppercase;
}

.col-title{
	margin-top: 297px;
	font-size: 36px;
	color: #fff;
	text-transform: uppercase;
	font-family: BebasNeueRegular;
	padding-left: 20px;
	word-spacing: 0px;
	letter-spacing: 2px;
	line-height: 41px;
	
	height: 78px;
	padding-right: 10px;
	overflow: hidden;
	word-wrap: normal;
}

.col-title2 {
	margin-top: 100px;
	font-size: 24px;
	color: #fff;
	text-transform: uppercase;
	font-family: BebasNeueRegular;
	padding-left: 12px;
	word-spacing: 0px;
	letter-spacing: 1px;
	line-height: 28px;
	height: 61px;
	padding-right: 5px;
	overflow: hidden;
	word-wrap: normal;
}

ul.main-page-block-menu1 {
	padding-top: 39px;
	padding-bottom: 32px;
}

.main-page-block-menu1 li {
	display: inline-block;
	margin-right: 49px;
}

.main-page-block-menu1 li+li+li{
	display: inline-block;
	margin-right: 57px;
}
.main-page-block-menu1 li+li+li+li {
    display: inline-block;
    margin-right: 43px;
}
.main-page-block-menu1 li a {
	color: #2d2d2d;
	text-decoration: none;
	font-family: OpenSans;
	font-size: 18px;
}

/*================
меню "все разделы"
==================*/

.p-m-col-1 h1 {
	color: #737373;
	font-size: 24px;
	text-transform: uppercase;
	font-family: BebasNeueRegular;
	padding-top: 20px;
	padding-left: 94px;
	font-weight: normal;
	letter-spacing: 1px;
	background: url(../img/menu_all_icon.png) no-repeat;
	background-position: 63px 21px;
}

.p-m-col-1 ul {
	padding-top: 31px;
	padding-left: 5%;
}

.p-m-col-1 li {
	display: inline-block;
	width:16.66%;
}

.p-m-col-1 li+li{
	margin-left:0.7%;
}

.p-m-col-1 li+li+li{
	margin-left:2.4%;
}

.p-m-col-1 li +li+li+li{
	margin-left:0.9%;
}

.p-m-col-1 li a{
	text-decoration:none;
	color:#9d331b;
	font-size:24px;
	text-transform: uppercase;
	font-family: BebasNeueRegular;
	
}

.p-m-col-1 li a:hover{
	text-decoration:none;
	
}


.p-m-col-6 {
	padding-left:5.1%;
	width:100%;
	clear:both;
}

.p-m-col-6-1 {
	width:16.6666%;
	float:left;
}
.p-m-col-6-1 ul {
	margin-top:31px;
	
}
.p-m-col-6-1 li {
	padding-bottom: 29px;
	width: 190px;
	line-height: 29px;
}

.p-m-col-6-1 li a {
font-size:18px;
color:#2d2d2d;
font-family: OpenSans;
text-decoration:none;
text-decoration:none;	
font-weight:300;
}

.p-m-col-6-1 li a:hover{
	color:#4d4d4d;
}

.pop-up-menu {
	width:96%;
	margin:0 auto;
	background:#fff;
	
}

.p-m-col-6-1-menu-2{
	margin-left:22px;
}


.p-m-col-6-1-menu-3{
	margin-left:32px;
}
.p-m-col-6-1-menu-4{
	margin-left:34px;
}

.p-m-col-4 {
	width: 100%;
	margin-top: 18px;
}
.p-m-col-4-1 {
	width: 25%;
	float: left;
	margin-bottom: 34px;
}

.p-m-col-4-1 h2 {
	text-decoration: none;
	color: #9d331b;
	font-size: 24px;
	text-transform: uppercase;
	font-family: BebasNeueRegular;
	padding-left: 15%;
}

.p-m-col-4-1 p {
	color: #8a8a8a;
	font-size: 18px;
	font-family: OpenSans;
	padding-left: 15%;
	padding-top: 13px;
	line-height: 23px;
	width: 220px;
	padding-right: 20px;
	height: 70px;
	overflow: hidden;
}


/*=======================
АКЦИИ И  СКИДКИ КАТЕГОРИЯ
========================*/

#akcii {
    margin-top: 15px;
   
}
.akcii-col-3 > div:nth-child(3) {
	 margin-right:0;
}


.akcii-col-3-1:nth-child(4) {
	 margin-right:0;

}



.akcii-col-3 {
	width:952px;
	
}
.akcii-col-3-1 {
	width:297px;
	float:left;
	height:370px;
	
	margin-right:30px;
	margin-bottom:30px;
}

.akcii-col-3-img {
	width:297px;
	height:223px;
	background: url(../img/salon.jpg) top center no-repeat;
	background-size:cover;
}
.akcii-col-3-skidki {
    height: 53px;
    width: 72px;
    background: #883622;
    border-radius: 4px;
    color: #fff;
    float: right;
    margin-top: 150px;
    margin-right: 10px;
    text-align: center;
    font-family:OpenSans;
    text-transform: uppercase;
    font-size: 11px;
    padding-top: 8px;
    letter-spacing: 1px;
	line-height:19px;
}

.akcii-col-3-skidki span {
    font-size: 35px;
    letter-spacing: 0;
    font-family: BebasNeueRegular;
    padding-top: 8px;
    display: block;
}
.akcii-col-3-info {
	border:1px solid #e1e1e1;
	width:295px;
	padding-bottom:22px;
	
}
.akcii-col-3-header h2 {
    text-transform: uppercase;
    font-family: BebasNeueRegular;
    font-size: 24px;
    color: #2d2d2d;
   
	    line-height: 27px;
    padding-left: 11px;
    padding-top: 8px;
	padding-right:5px;
	height:50px;
	overflow:hidden;
}
.akcii-col-3-adress {
    color: #8f8f8f;
    font-size: 12px;
    font-family: OpenSans;
    padding-left: 11px;
    padding-top: 3px;
	padding-right:5px;
}


.akcii-col-3-price {
    text-transform: uppercase;
    font-family: BebasNeueRegular;
    font-size: 30px;
    color: #9d331b;
    padding-left: 12px;
    padding-top: 13px;
	padding-right:5px;
}

/*=======================
АКЦИИ И  СКИДКИ /ЗАПИСЬ
========================*/
#shop-full-price {

    height: 60px;
    width: 130px;
    border: 1px solid #e1e1e1;
    text-align: center;
    font-size: 39px;
    margin-top: 20px;
    color: #9d331b;
    font-family: BebasNeueRegular;
    line-height: 60px;
    float: left;
    text-decoration: line-through;
	margin-right:2px;
}

#shop-sale-price {

    height: 62px;
    width: 132px;
    
    text-align: center;
    font-size: 39px;
    margin-top: 20px;
    color: #fff;
    font-family: BebasNeueRegular;
    line-height: 60px;
    float: left;
	background-color:#9d331b;
}


.shop-info-box-akcii {
    border-bottom: 1px solid #e0e0e0;
    height: 190px;
}

.shop-info-box-akcii h2 {
    font-size: 40px;
}

#shop-start-finish-box {
     clear: both;
     padding: 20px 0;
}


/*--======================
окно-заглушка на главной
======================*/
.start-box-wrapper{

width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.7);
    text-align: center;
    z-index: 999999;
	overflow:auto;

}

.start-box-inner {
    width: 68.2%;
    position: absolute;
    z-index: 99999999;
    height: 980px;
    background: #fff;
    left: 15.8%;
    top: 30px;
    border-radius: 10px;
	bottom:10%;
    
}
.start-box-logo {
    width: 217px;
    margin:2.8% 0 3.2% 37%;
	
}



.start-box-header {
	 font-size:40px;
	font-family: BebasNeueRegular;
	color:#873622;
	text-transform:uppercase;
	text-align:center;
}

.start-box-text-1 {
color:#4c4c4c;
text-align:center;
font-family: OpenSans;
font-size:18px;
padding:20px 10px;
}



.start-box-text-2 p {
    color: #000;
    font-size: 18px;
    font-family: OpenSans;
    margin: 4px 34px 25px 34px;
    line-height: 20px;
}

.start-box-text-3 {
color:#4c4c4c;
text-align:center;
font-family: OpenSans;
font-size:18px;
padding:14px 10px 27px 10px;
}

.start-box-buttons {
	padding:0 0 25px 0;
	
	
}

.start-box-buttons ul {
   
    margin: 0 auto;
    width: 720px;
}

.start-box-buttons li {
    display: inline-block;
    background: #873622;
    padding: 20px;
    margin-right: 20px;
	border:radius:2px;
}
.start-box-buttons li:last-child {
	margin-right: 0px;
}

.start-box-buttons a{
     color: #fff;
    font-size: 25px;
    font-family: BebasNeueRegular;
	cursor:pointer;
	text-decoration:none;
	}
	

.start-box-adress {
	border-top:1px solid #e1e1e1;
	margin:0 47px;
}	
.start-box-adress p{
	color:#4c4c4c;
text-align:center;
font-family: OpenSans;
font-size:18px;
padding:23px 47px 5px 47px;
}

.start-box-adress a{
	color:#873622;

font-family: OpenSans;
font-size:30px;
padding:20px 47px 29px 47px;
text-decoration:none;
text-align:center;
display:block;
}


.start-box-welcome {
	border-top:1px solid #e1e1e1;
	margin:0 47px;
}
.start-box-welcome p{
	color:#4c4c4c;
text-align:center;
font-family: OpenSans;
font-size:18px;
padding:28px 47px 4px 47px;
}

.start-box-welcome a{
	color:#873622;

font-family: OpenSans;
font-size:30px;
padding:20px 47px 29px 47px;
text-decoration:none;
text-align:center;
display:block;
}


.start-box-social-buttons p {
    color: #000;
    font-size: 18px;
    font-family: OpenSans;
    margin: 4px 34px 25px 34px;
    line-height: 20px;
}


.start-box-social-buttons {
border-top:1px solid #e1e1e1;
	margin:0 47px;
	}
	
	
	.start-box-social-buttons-text {
		color:#4c4c4c;
text-align:center;
font-family: OpenSans;
font-size:18px;
padding:23px 47px 4px 47px;
	}

	
	.share {width:320px;
	margin:0 auto;}

/*=============================
навигация породы по алфавиту
=============================*/
.enc-nav {
		height:162px;
		width:1200px;
		margin-bottom:10px;
		
	}

.abc {
	width:1183px;
	margin:0 auto;
	border:1px solid #e1e1e1;
	padding-top:23px;
	padding-left:11px;
	padding-bottom:23px;
}
.abc li{
	display:inline-block;
	padding-right:15px;
}

.abc li:last-child{
	
	padding-right:12px;
}
.abc a {
	font-size:24px;
	font-family: BebasNeueRegular;
	color:#9d331b;
	text-decoration:none;
	padding:0 6px;
}
.abc a:hover {
	text-decoration:none;
	background:#9d331b;
	color:#fff;
}

.pet-size {
	
	
}
.pet-size li {
    display: inline-block;
    border: 1px solid #e1e1e1;
    margin-top: 15px;
    width: 386px;
    height: 60px;
    margin-right:14px;
	margin-bottom:14px;
}
.pet-size li+li+li{
	margin-right: 0px;
	float:right;
	
}
.pet-size a {
    font-size: 30px;
    font-family: BebasNeueRegular;
    color: #010101;
    text-decoration: none;
    display: block;
    padding-left: 81px;
    padding-top: 17px;
}

.pet-size li:hover{
	background:#9d331b;
	color:#fff;
}

.pet-size a:hover {
	color:#fff;
}

.pet-size li:active{
	background:#9d331b;
	color:#fff;
}

.pet-size a:active{
	color:#fff;
}
/*==================================
страницаа для добавления объявлений
====================================*/
.ads {

	width:1207px;
	margin:0 auto;
	color: #41697e;
}

.ads label {
    color: #41697e;
    font-size: 16px;
    font-family: OpenSans;
    display: block;
    padding-top: 24px;
	padding-bottom:8px;
	font-weight:600;
}

.ads input {
    display: block !important;
    border: none !important;
    font-size: 24px !important;
    width: 950px !important;
    font-family: OpenSans !important;
    padding-bottom: 15px !important;
    background: transparent !important;
    border-bottom: 1px solid #f0f0f0 !important;
	outline:none !important;
	color: #b9b9b9 !important;
}

.ads textarea {

    width: 950px;
    min-height: 193px;
    background: transparent;
    font-size: 24px;
    font-family: OpenSans;
    
    border: 1px solid #f0f0f0;
	outline:none;
	padding-bottom:10px;
	margin-top:10px;
}


.ads button {
    background: #396176;
    color: #fff;
    font-size: 23px;
    font-family: OpenSans;
    outline: none;
    border: none;
    margin: 22px 0 22px 337px;
    width: 230px;
    text-transform: uppercase;
    height: 78px;
    letter-spacing: 1px;
    display: block;
    text-shadow: 0px 1px 1px #fff;
}

.ads button:hover {
	opacity:0.6;
}

h1.black-header {
    text-transform: uppercase;
    font-family: BebasNeueRegular;
    font-size: 40px;
    color: #000;
    padding-top: 11px;
    padding-bottom: 15px;
}


.ads #price {
    background: #9d331b;
    border: none;
    height: 66px;
    width: 120px;
    float: left;
    margin-top: 32px;
    
}

.ads #price a {
    color: #fff;
    font-family: BebasNeueRegular;
    font-size: 31px;
    padding: 13px 15px 11px 19px;
    display: block;
}


.ads ul {
    margin-top: 32px;
	float:left;
}

.ads li {
    display: inline-block;
    border: 1px solid #e1e1e1;
    height:64px;
    margin-left: 12px;
}



.ads a {
    font-family: OpenSans;
    color: #616161;
    font-size: 24px;
    line-height: 40px;
    text-decoration: none;
    display: block;
    padding: 11px 24px 15px 33px;
}

.ads li:hover{
	background:#9d331b;
	
}

.ads ul li a:hover{
	background:#9d331b;
	color:#fff;
}

.ads_subtitle {
    color: #41697e;
    font-size: 16px;
    font-family: OpenSans;
    display: block;
    padding-top: 25px;
	padding-bottom:12px;
	font-weight:600;
}

.ads_data {
    display: block;
    border: none;
    font-size: 24px;
    width: 950px;
    font-family: OpenSans;
    padding-bottom: 15px;
    color:#000;
}

.ads_text {
    display: block;
    border: none;
    font-size: 24px;
    width: 950px;
    font-family: OpenSans;
    color:#000;
}
 
 
.ads_text p{
    line-height: 32px;
    padding: 0 10px 0 0;
    text-align: justify;
    height: 189px;
    overflow: hidden;
}

.ads #price2 {
    background: #9d331b;
    border: none;
    height: 66px;
    width: 120px;
    float: left;
    margin-top: 32px;
    margin-left: 2px;
	margin-bottom:15px;
}

.ads #price2 a {
    color: #fff;
    font-family: BebasNeueRegular;
    font-size: 31px;
    padding: 13px 15px 11px 19px;
    display: block;
}
 